DB_HOST=localhost
DB_PORT=5432
DB_USER=courselist
DB_PASS=<silne_haslo>
DB_NAME=courselist
DB_SSLMODE=disable
SESSION_TTL=24h
SESSION_COOKIE_NAME=session_token
SESSION_COOKIE_SECURE=true
CORS_ALLOWED_ORIGINS=https://twoja-domena.pl
LOGIN_RATE_LIMIT=5

